@mixin rounded-element($size) {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  -webkit-border-radius: $size / 2;
  -moz-border-radius: $size / 2;
}

$good-indicator: green;
$ok-indicator: gold;
$bad-indicator: red;

/****SIDE-NAV****/

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.sidebar {
    background: #FAFAFA;
    padding: 32px, 20px;
}

.nav-group {
    margin-top: 0.5em;
}

.nav-heading{
    color: darkgray;
    font-weight: bold;
}

.nav-entry a{
    color: steelblue;
}

.nav-entry:hover{
    background-color: lightgray;
}

.row{
    max-width: 200rem;
}

/****METRIC-DISPLAY****/

.metric-info {
    margin: 3em 2em 2em 3em 
}

/****MISC****/

.chart-panel {
    margin: 3em;
}

.lead{
    font-size: 100%;
}

form .small-3.columns {
  padding: 0;
}

// Dashboards

h1 {
  text-align: center;
}

.team-selector-left {
  padding-top: 1em;
  margin-bottom: 0;
}

.sprint-selector {
  margin-bottom: 0;

  label {
    margin-bottom: 0;
  }
}

nav.breadcrumb {
  padding-top: 1em;
}

// Landing dashboard

.landing-panel {
  text-align: center;
  vertical-align: middle;

  h3 {
    padding-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .inner-panel {
    vertical-align: middle;
    padding: 1em;
    width: 100%;
    $size: 300px;
    @include rounded-element(300px);
  }

  @mixin status-style($colour) {
    border: 2px solid $colour;
    .view-link {
      display: inline-block;
      margin: 0 auto;
      background: $colour;
      @include rounded-element(60px);
      line-height: 60px;
      vertical-align: middle;

      a {
        color: white;
      }
    }
  }

  .status-green {
    @include status-style($good-indicator);
  }

  .status-yellow {
    @include status-style($ok-indicator);
  }

  .status-red {
    @include status-style($bad-indicator);
  }
}

// Product Tracking

table.team-overview-table {
  th {
    text-align: center;
  }

  td.team-name {
    text-align: center;
  }

  td {
    cursor: pointer;
  }
}

// Status Indicator

div.status-indicator {
  @include rounded-element(32px);
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-family: FontAwesome;

  &.status-good {
    background: $good-indicator;
    color: white;
  }

  &.status-neutral {
    background: $ok-indicator;
    color: white;
  }

  &.status-bad {
    background: $bad-indicator;
    color: white;
  }

  &.status-increasing::after {
    content: "";
  }

  &.status-steady::after {
  }

  &.status-decreasing::after {
    content: "";
  }
}
